.button {
    margin-bottom: 30px;
    display: inline-block;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
    outline: none;
    border-radius: 10px;
}

.button:not(:last-child) {
    margin-right: 10px;

}

.button{
    width: 100px;
    height: 30px;

    color: #fff;
    font-size: 1em;

    background-color: rgb(240, 118, 62);
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 250ms linear, transform 250ms linear;
}

.button:hover,
.button:focus {
    background-color: rgb(79, 167, 79);
    
}