.buttonList {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.buttonListItem:not(:last-child) {
    margin-right: 10px;

}

.buttonListBtn{
    width: 100px;
    height: 30px;

    color: #fff;
    font-size: 1em;

    background-color: rgb(240, 118, 62);
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 250ms linear, transform 250ms linear;
}

.buttonListBtn:hover,
.buttonListBtn:focus {
    background-color: rgb(79, 167, 79);
    
}